/* animacion de la barra en MAS Y ADMINISTRADOR */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: none;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}

.btn-verde {
  --bs-btn-color: #1D1C1A;
  --bs-btn-bg: #77DD77;
  --bs-btn-border-color: #77DD77;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #56AE57;
  --bs-btn-hover-border-color: #56AE57;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #447e45;
  --bs-btn-active-border-color: #447e45;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #1D1C1A;
  --bs-btn-disabled-bg: #adebad;
  --bs-btn-disabled-border-color: #adebad;
}

/*test de repositorio*/
.reloj{
	background-color: #77DD77;
	color: #0d1420;
  border: 5px solid #447e45;
  border-radius: 10px;
}
