.btn-verde {
  --bs-btn-color: #1D1C1A;
  --bs-btn-bg: #77DD77;
  --bs-btn-border-color: #77DD77;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #56AE57;
  --bs-btn-hover-border-color: #56AE57;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #447e45;
  --bs-btn-active-border-color: #447e45;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #1D1C1A;
  --bs-btn-disabled-bg: #adebad;
  --bs-btn-disabled-border-color: #adebad;
}

.btn-azul {
  --bs-btn-color: #1D1C1A;
  --bs-btn-bg: #B7D1D3;
  --bs-btn-border-color: #B7D1D3;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #A6C3CE;
  --bs-btn-hover-border-color: #A6C3CE7;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8FB8CA;
  --bs-btn-active-border-color: #8FB8CA;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #1D1C1A;
  --bs-btn-disabled-bg: #CEDFDF;
  --bs-btn-disabled-border-color: #CEDFDF;
}

.btn-rojo {
  --bs-btn-color: #1D1C1A;
  --bs-btn-bg: #fd706b;
  --bs-btn-border-color: #fd706b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #e54c38;
  --bs-btn-hover-border-color: #e54c38;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c23a22;
  --bs-btn-active-border-color: #c23a22;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #1D1C1A;
  --bs-btn-disabled-bg: #f8858b;
  --bs-btn-disabled-border-color: #f8858b;
}

.btn-negro{
  --bs-btn-color: #fff;
  --bs-btn-bg: #343331;
  --bs-btn-border-color: #343331;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1d1c1a;
  --bs-btn-hover-border-color: #1d1c1a;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1d1c1a;
  --bs-btn-active-border-color: #1d1c1a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #1d1c1a;
  --bs-btn-disabled-bg: #1d1c1a;
  --bs-btn-disabled-border-color: #1d1c1a;
}

.btn-blanco{
  --bs-btn-color: #1d1c1a;
  --bs-btn-bg: #e8e8e8;
  --bs-btn-border-color: #e8e8e8;
  --bs-btn-hover-color: #1d1c1a;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e8e8e8;
  --bs-btn-active-border-color: #e8e8e8;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #1d1c1a;
  --bs-btn-disabled-bg: #1d1c1a;
  --bs-btn-disabled-border-color: #1d1c1a;
}


.reloj{
	background-color: #77DD77;
	color: #0d1420;
  border: 5px solid #447e45;
  border-radius: 10px;
}

#iconoTemperatura{
  height: 40px;
  width: 40px;
}

label.error {
  color: #c23a22;
}