{% extends "./base.html" %}
{% load static %}


{% block header %}
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">
  
{% endblock %}

{% block body %}
  <div class="container d-flex flex-column min-vh-100">
    <div class="row">
      <div class="col">
        <h1>Usuarios</h1>
      </div>
    </div>

    <form id="formAddUser" action="/saveEditUser/{{token}}/{{userData.user}}" method="POST" class="needs-validation row" novalidate> {% csrf_token %}
      <div class="form-group col-xl-3">
        <label for="username">Username:</label>
        <input value="{{userData.user}}" type="text" class="form-control" id="username" name="username" maxlength="20" readonly required>
        <div class="invalid-feedback">
          Por favor, ingresa un nombre de usuario (máximo 20 caracteres).
        </div>
      </div>
      <div class="form-group col-xl-6">
        <label for="email">Mail:</label>
        <input value="{{userData.mail}}" type="email" class="form-control" id="email" name="email" maxlength="200" required>
        <div class="invalid-feedback">
          Por favor, ingresa un correo electrónico válido (máximo 200 caracteres).
        </div>
      </div>
      <div class="form-group col-xl-3">
        <label for="password">Contraseña:</label>
        <div class="input-group">
          <input value="{{userData.contrasenna}}" type="password" class="form-control" id="password" name="password" maxlength="15" required>
          <button class="btn btn-outline-secondary" type="button" id="toggle">
            <i class="bi bi-eye"></i>
          </button>
        </div>
        <div class="invalid-feedback">
          Por favor, ingresa una contraseña (máximo 15 caracteres).
        </div>
      </div>
      <div class="form-group col-xl-12">
        <label for="type">Tipo:</label>
        <select class="form-control" id="type" name="type" required>
          <option value="0" selected disabled>Seleccionar...</option>
          {% for t in tipos %}
          <option value="{{t.tipo_id}}" {% if t.tipo_id == userData.tipo_id.tipo_id %}selected{% endif %}>{{t.nombre}}</option>
          {% endfor %}
        </select>
        <div class="invalid-feedback">
          Por favor, selecciona una opción válida.
        </div>
      </div>
      <div class="col d-flex justify-content-center my-3">
        <button class="btn btn-azul w-75" type="submit">Guardar Cambios</button>
      </div>
    </form>
    <div class="d-flex flex-fill"></div>
{% endblock %}

{% block script %}
  <script src="{% static 'js/editUser.js'%}"></script>
{% endblock %}