{% extends "./base.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}


{% block header %}
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">
{% endblock %}


{% block body %}
  <main class="flex-fill">

    <!-- Toast -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong id="tituloToast" class="me-auto"></strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="bodyToast" class="toast-body">
        </div>
      </div>
    </div>
    <!-- Fin del Toast -->

    <div class="row d-flex justify-content-center mt-5">
      <div class="col-xl-3 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-header">
            <h4>Login</h4>
          </div>
          <div class="card-body">
            <form id="loginForm" novalidate>
              <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" class="form-control" id="username" name="username" maxlength="20" required>
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" maxlength="15" required>
              </div>
              <button type="submit" class="btn btn-azul mt-2">Ingresar</button>
            </form>
          </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block script %}
  <script src="{% static 'js/login.js'%}"></script>
{% endblock %}